/* Definición de los estilos CSS */
body {
    background-color: black;
    color: white;
}

/* Estilos para los links */
a {
    color: hotpink;
}
/* elemento:evento {} */
/* hover: flotar, pasar por encima del link */
a:hover {
    color: yellow;
}

/* Clases/Selectores */
.texto-centrado {
    text-align: center;
}

.titulo {
    font-size: 200%;
}
/*
Aplicar solamente a elementos específicos
se utiliza el elemento después del punto
p.texto-centrado {
    text-align: center;
}
*/